$heading: #abb;
$description: #eee;



* {
  box-sizing: border-box;
}

dl {
  dt,
  dd {
    margin: 0;
  }
}

.accordion {
  &_container {
    color: white;
    width: 50%;
    min-width: 400px;
    margin: 0 auto;

    .accordion_title {
      background: $heading;
      .accordion_heading {
        width: 70%;
        display: inline-block;
        padding: 10px 10px 10px 20px;
      }

      .accordion_controls {
        width: 25%;
        display: inline-block;
        .accordion_arrow {
          width: 30px;
          float: right;
          transform: rotate(450deg);
          -webkit-transform: rotate(450deg);
          -moz-transform:rotate(450deg);
          -ms-transform:rotate(450deg);
          transition: transform 0.5s;
        }
      }

    }
    .accordion_description {
      background: $description;
      display: none;
      padding: 10px 10px 10px 20px;
    }

    .accordion_title.active {
      .accordion_controls {
        .accordion_arrow {
          transform: rotate(270deg);
          -webkit-transform: rotate(270deg);
          -moz-transform:rotate(270deg);
          -ms-transform:rotate(270deg);
          transition: transform 0.5s;
        }
      }
    }

    .active + {
      background: yellow;
      .accordion_description {
          display: block;
      }
    }
  }
}
